
<div class="container content">
  <div class="row" *ngIf="config.haveCatalogAccess() && currentData !== undefined && currentData.Categories !== undefined">
    <div class="col-12">
      <app-navigation [showCategory]="currentData.Categories"></app-navigation>
    </div>
  </div>

  <div class="row" *ngIf="config.haveCatalogAccess() && currentData !== undefined && currentData.Items !== undefined && config.showCatalog()">
    <div class="col-12">
      <app-content></app-content>
    </div>
  </div>
  <div class="row" *ngIf="!config.showCatalog() && config.showOrder()">
    <div class="col-12">
      <app-order></app-order>
    </div>
  </div>

  <div class="row" *ngIf="!config.haveCatalogAccess()">
    <div class="col-12">
      <app-login></app-login>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <span class="text-muted">Self-ordering app</span>
    <div class="float-right">
      <b>for tests:</b>
      <!-- <a href="#" (click)="testGetOpenOrder()">get an order from the server </a>-->
      <span class="order-status" *ngIf="currentOrder!==undefined && currentOrder.status!==undefined && currentOrder.status>0">{{this.orderService.getOrderStatus(currentOrder.status)}}</span>|
      Set status:
      <a href="#" (click)="testChangeOrderParam(0)">0</a>,
      <a href="#" (click)="testChangeOrderParam(1)">1</a>,
      <a href="#" (click)="testChangeOrderParam(2)">2</a>,
      <a href="#" (click)="testChangeOrderParam(3)">3</a> |
      <a href="#" (click)="testClearOrder()">delete Order</a>
    </div>

  </div>
</footer>

